.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-size: calc(30px + 2vmin);
  color: #2f90bc;
  font-weight: 100;
}

.App-link:hover,
.App-link:focus {
  color: #00afff;
}

.App-link strong {
  font-weight: 400;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 0;
  padding: 0;
  font-size: calc(10px + 2vmin);
  font-weight: 200;
}

.file {
  font-size: calc(6px + 1vmin);
  color: #faa;
  display: block;
}

.components div {
  margin: 1vmin;
  float: left;
}

.React-logo {
  animation: React-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Yarn-cat {
  animation: Yarn-cat-move infinite 2s ease;
  height: 40vmin;
  position: relative;
  margin-left: -20vmin;
  margin-top: 7.5vmin;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Yarn-cat-move {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
  }
}
